@charset "utf-8";
/* CSS Document */
.payment-container{
    border: 1px rgb(215, 215, 215)solid;
    background-color: rgb(255, 255, 255);
    padding: 30px 30px 10px;
    width: 50%;
    margin: 0 auto;
}
.payment-container select{width: 100%; }
.payment-container .form-group{margin-bottom: 20px;}
.payment-container h4{margin: 6px 0 20px;}
.payment-container hr {

    margin-top: 22px;
    margin-bottom: 22px;
    border-top: 1px solid #b2b4b6;

    border-bottom: 1px solid #c8c5c5;
}


.payment-text{}
.payment-value{
    text-align: center;
    padding: 5px;
    border: 1px solid #e2d9d9;
    margin: 0 0 25px;
    font-size: 19px;
    color: #8d8f90;
}
.payment-check .checkbox{
    line-height: 1.8em;
    margin: 5px 0;
}
 .payment-check .checkbox label {
    padding-right: 21px;
    top: -7px;
}
.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box label {
    display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
    display: table;
}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
    min-width: 180px;
}